.video {
  width: 100%;
  object-fit: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');


.bannerFont {
  font-family: "Pacifico", cursive;
}


.background {
  background-color: rgba(63, 61, 61, 0.158);
  backdrop-filter: blur(30px);
}

.input {
  background-color: rgba(0, 0, 0, 0.158);
  backdrop-filter: blur(50px);
}
