.video {
  width: 100%;
  object-fit: cover;
}




.background {
  background-color: rgba(20, 16, 16, 0.158);
  backdrop-filter: blur(5px);
}

.input {
  background-color: rgba(0, 0, 0, 0.158);
  backdrop-filter: blur(50px);
}
